certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
psutil
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
PyYAML
requests
scipy
six
sympy
torch==2.1.2+cpu
torchaudio==2.1.2+cpu
torchvision==0.16.2+cpu
typing_extensions
ultralytics
urllib3

